PORT=3000
NODE_ENV=development

# Database MySQL
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=medicare_db
DB_USER=root
DB_PASSWORD=

# JWT
JWT_SECRET=6fc74294ca2f16be4eee150f25d697411ff96a3b8a79b8e9917ce3af938c205705585c4fbf7ef778d0da6436136d9fae5076dd8301834efe092c2e1223212fd1
JWT_EXPIRES_IN=7d

# CORS
CORS_ORIGIN=*

# Email (opsional)
SMTP_HOST=
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM=no-reply@medicare.app

# URL reset password
RESET_PASSWORD_URL=medicareapp://reset-password